<div class='top-menu navbar navbar-default'>
<div class='navbar-header'>
<p class='brandP'>
&nbsp;&nbsp;&nbsp;
<a href='http://pubnub.com' style='text-decoration:none'>
<img height='30px' src='images/pubnub-large.png'>
</a>
&nbsp;&nbsp;&nbsp;
+
&nbsp;&nbsp;&nbsp;
<a href='http://angularjs.org' style='text-decoration:none'>
<img height='30px' src='http://angularjs.org/img/AngularJS-large.png'>
</a>
</p>
</div>
<ul class='nav navbar-nav navbar-right mynavright'>
<li>
<a href='http://pubnub.github.io/pubnub-angular/docs/pubnub-angular.html'>PubNub-Angular.coffee Doc</a>
</li>
<li>
<a href='https://github.com/pubnub/pubnub-angular#pubnub-angularjs-sdk'>PubNub-Angular SDK Doc</a>
</li>
</ul>
</div>
