<div class='container col-md-12' ng-include src="'views/_nav.html'"></div>
<div class='container col-md-12' ng-include src="'views/_happy.html'"></div>
<div class='container'>
<section class='chat-section'>
<div class='container col-md-12'>
<h2 id='chat_application'>
Example
</h2>
<p>
<span class='label label-default' ng-hide='selectedChannel'>Not Connected Yet</span>
To enter the sample Chat application, choose a username and press the "Join" button above.
</p>
<img class='img-rounded exampleimg' src='images/example-image.gif'>
</div>
</section>
</div>
<div ng-include src="'views/_footer.html'"></div>
